body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "DotGothic16",Arial, sans-serif;
    transition: opacity 1s;
    opacity: 1;
    overflow: hidden;
}

body.fade-out {
    opacity: 0;
    transition: opacity 1s;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.scene {
    display: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

/* 場景背景 */

/* 首頁背景 */
#scene1,#scene46 {
    background-image: url('covergb.jpg');
    background-size: cover; 
}

#scene13_1,#scene13_2,#scene13_3,#scene13_4,#scene90,#scene91,#scene63_4,#scene63_3,#scene63_2,
#scene63_1,#scene92,#scene93,#scene66_2,#scene94,#scene95,#scene66_1_2,#scene66_1_1{
    background-image: url('file_bg.JPG');
    background-size: cover; 
    background-position: center; 

}

/* 場景 2 背景 */
#scene2,#scene3,#scene4,#scene32,#scene5,#scene6,#scene6_1,#scene5_1,#scene5_1_1,#scene5_2,
#scene33,#scene34,#scene34_1,#scene34_2,#scene35,#scene35_1,#scene35_2,#scene38,#scene38_1,#scene38_2,
#scene40,#scene39_4,#scene41_1,#scene41_4,#scene41_5,#scene52_3,#scene52_4,#scene51_1,
#scene51,#scene50_2,#scene50_1,#scene50,#scene52,#scene42,#scene39,#scene39_1,#scene41  {
    background-image: url('meeting.png');
    background-size: cover;

}
#scene36_5,#scene37_5 {
    background-image: url('comment.jpg');
    background-size: cover; 
}
#scene36_4,#scene37_4{
    background-image: url('mrdia.jpg');
    background-size: cover; 
}
#scene7 {
    background-image: url('bg.jpg');
    background-size: cover; 
}
#scene36,#scene36_1,#scene36_2,#scene36_3,#scene37,#scene37_1,#scene37_2,#scene37_3  {
    background-image: url('office.JPG');
    background-size: cover; 
}

/* {
    background-image: url('webpage.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
} */

#scene14,#scene15, #scene16, #scene17, #scene18 {
    background-size: cover;
    background-position: center; 
    background-image: url('note.jpg');
}

#scene13,#scene19,#scene20,#scene21,#scene22,#scene23,#scene24,#scene25,#scene25,#scene26,#scene27{
    background-image: url('tea.PNG');
    background-size: cover; 
}

#scene29,#scene30 {
    background-image: url('chat.jpg');
    background-size: cover; 
}
#scene39_2,#scene39_3,#scene52_2,#scene41_3,#scene68,#scene52_1,#scene41_2,#scene66_1,#scene66_1,#scene8,#scene9,
#scene10,#scene11,#scene12,#scene28,#scene31, #scene60, #scene64, #scene61, #scene62, #scene63 ,#scene63_1_1,#scene66,#scene65{
    background-color: #e9e0e6;
}

.story-content {
    text-align: left;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.story-content h3, .story-content h4, .story-content p {
    margin: 0;
}

.title {
    width: 70%;
    max-width: 700px;
    animation: glow 1.5s infinite alternate, shake 0.5s infinite alternate;
    margin-bottom: 20px;
    margin-top: 0;
    position: absolute;
    top: 1px; 
    left: 1%;
    z-index: 3;
}


@keyframes glow {
    from {
        filter: drop-shadow(0 0 10px #ffc0cb);
    }
    to {
        filter: drop-shadow(0 0 20px #ff69b4);
    }
}

@keyframes shake {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(3px, 3px);
    }
}
.cover-item {
    width: 70%;
    max-width: 1700px;
    animation: glow2 1.5s infinite alternate, shake 0.5s infinite alternate;
    margin-bottom: 20px;
    position: absolute;
    top: 20%; 
    right: 7%;
}


@keyframes glow2 {
    from {
        filter: drop-shadow(0 0 10px #ffc0cb);
    }
    to {
        filter: drop-shadow(0 0 20px #ab79c0);
    }
}


.scene1 p{
    position: absolute;
    color: #543f3f;
    left: 6%;
    top: 70%;
    padding: 4px;
    border: 2px dashed rgb(120, 104, 104)
}
.start-button {
    position: absolute;
    bottom: 32%;
    left: 10%;
    width: 250px;
    height: 75px;
    padding: 0;
    font-size: 28px;
    color: #ff77aa;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    animation: glow 1.5s infinite alternate, shake 0.8s infinite alternate;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    font-family: "DotGothic16",Arial, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 75px;
    text-shadow: 0 0 10px rgba(255, 246, 119, 0.815);
}

.start-button::before {
    content: '❤';
    display: block;
    font-size: 30px;
    height: 75px;
    width: 75px;
    margin-right: 10px;
    float: left;
    background-color: #ff77aa;
    color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.start-button:hover::before {
    transform: scale(1.2);
}

.start-button:hover {
    color: white;
    background-color: #ff77aa;
}

/* 過場 */
.story-content {
    text-align: center; 
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: rgba(255, 192, 203, 0.8); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    /* overflow: hidden;  */
}

.story-content h3 {
    font-size: 48px; 
    color: #ae5f89;
}

.story-content h4 {
    font-size: 36px; 
    color: #9e7689; 
}

.story-content p {
    font-size: 18px; 
    color: #333; 
    margin-bottom: 10px; 
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: 2px; 
    animation: typing 3s steps(40) forwards; 
    animation-delay: 1s;

}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


/*繼續按钮 */
.story-button {
    position: absolute;
    font-family: "DotGothic16", Arial, sans-serif; 
    position: relative;
    padding: 0;
    margin: 10px;
    width: 120px; 
    height: 40px;
    font-size: 26px; 
    color: #f1e7ec;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    overflow: hidden; 
    transition: color 0.3s;
    text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
}

.story-button::before,
.story-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s; 
}


.story-button:hover::before,
.story-button:hover::after {
    transform: scale(0); 
}

.story-button:hover {
    color: white; 
}




.character {
    position: absolute;
    bottom:10px;
    right: 750px;
    width: 45%;
    height: auto;
}
@media screen and (min-width: 3000px), print {
    .character {
        position: absolute;
        bottom: -100px;
        left: 550px;
        width: 35%;
        height: auto; 
        z-index: 0; 
    }
}


/* 對話框框 */

.dialog {
    position: fixed;
    font-family: "DotGothic16",Arial, sans-serif;
    width: 100%; 
    height: auto; 
    top: 90px; 
    left: -30px; 
    margin-left: -20px;
    z-index: 1; 
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.2)); 
}
@media screen and (min-width: 3000px), print {
    .dialog {
        position: fixed;
        font-family: "DotGothic16",Arial, sans-serif;
        width: 80%;
        height: auto;
        top: 300px;
        left: 10%;
        margin-left: -20px; 
        z-index: 1; 
        filter: drop-shadow(0 0 5px rgba(0,0,0,0.2)); 
    }
}

.dialog-name {
    position: absolute;
    top: 56%; 
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #333;
    text-align: center;
    z-index: 2; 
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 3s steps(40) forwards;
}
@media screen and (min-width: 3000px), print {
    .dialog-name {
        position: absolute;
        top: 690px;
        left: 33%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        color: #333;
        text-align: center;
        z-index: 2; 
        overflow: hidden; 
        white-space: nowrap; 
        animation: typing 3s steps(40) forwards;
    }   
}

.dialog-text {
    position: absolute;
    top: 70%; 
    left: 44%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #333;
    text-align: center;
    z-index: 2; 
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 3s steps(40) forwards;
    /* animation-delay: 1s; */

}
@media screen and (min-width:400px) and (max-width:1200px){
    .dialog-text {
        position: absolute;
        top: 70%; 
        left: 45%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #333;
        text-align: center;
        z-index: 2; 
        overflow: hidden; 
        white-space: nowrap; 
        animation: typing 3s steps(40) forwards;
        /* animation-delay: 1s; */
    
    }
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* 對話按鈕 */
.tell-button {
    font-family: "DotGothic16", Arial, sans-serif; 
    position:absolute;
    right: 22%;
    bottom: 150px;
    padding: 0;
    margin: 10px;
    width: 120px; 
    height: 40px;
    font-size: 24px; 
    color: #94838c;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    overflow: hidden; 
    transition: color 0.3s;
    text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    z-index: 2;
}
@media screen and (min-width:400px) and (max-width:1200px){
    .tell-button {
        font-family: "DotGothic16", Arial, sans-serif; 
        position:absolute;
        right: 370px;
        bottom: 120px;
        padding: 0;
        margin: 10px;
        width: 120px; 
        height: 40px;
        font-size: 24px; 
        color: #94838c;
        background-color: transparent; 
        border: none; 
        cursor: pointer;
        overflow: hidden; 
        transition: color 0.3s;
        text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        z-index: 2;
    }
}
@media screen and (min-width: 3000px), print {
    .tell-button {
        font-family: "DotGothic16", Arial, sans-serif; 
        position:absolute;
        right: 820px;
        bottom: 90px;
        padding: 0;
        margin: 10px;
        width: 120px;
        height: 40px;
        font-size: 22px;
        color: #94838c;
        background-color: transparent; 
        border: none; 
        cursor: pointer;
        overflow: hidden; 
        transition: color 0.3s;
        text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        z-index: 2;
    }
}


.tell-button::before,
.tell-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s; 
}


.tell-button:hover::before,
.tell-button:hover::after {
    transform: scale(0); /* 懸停時縮回 */
}

.tell-button:hover {
    color: white; 
}

/* 抉擇按鈕 */
/* 下 */
.option-button {
    font-family: "DotGothic16", Arial, sans-serif; 
    position:absolute;
    right: 22%;
    bottom: 16%;
    padding: 0;
    margin: 10px;
    width: 120px; 
    height: 40px;
    font-size: 24px; 
    color: #94838c;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    overflow: hidden; 
    transition: color 0.3s;
    text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    z-index: 2;
}
@media screen and (min-width:400px) and (max-width:1200px){
    .option-button {
        font-family: "DotGothic16", Arial, sans-serif; 
        position:absolute;
        right: 420px;
        bottom: 15%;
        padding: 0;
        margin: 10px;
        width: 120px; 
        height: 40px;
        font-size: 24px; 
        color: #94838c;
        background-color: transparent; 
        border: none; 
        cursor: pointer;
        overflow: hidden; 
        transition: color 0.3s;
        text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        z-index: 2;
    }
}
@media screen and (min-width: 3000px), print {
    .option-button {
        font-family: "DotGothic16", Arial, sans-serif; 
        position:absolute;
        right: 820px;
        bottom: 100px;
        padding: 0;
        margin: 10px;
        width: 120px;
        height: 40px;
        font-size: 22px;
        color: #94838c;
        background-color: transparent; 
        border: none; 
        cursor: pointer;
        transition: color 0.3s;
        text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        z-index: 2;
    }
}
/* 上 */
.option2-button {
    font-family: "DotGothic16", Arial, sans-serif; 
    position:absolute;
    right: 22%;
    bottom: 21%;
    padding: 0;
    margin: 10px;
    width: 120px; 
    height: 40px;
    font-size: 24px; 
    color: #94838c;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    overflow: hidden; 
    transition: color 0.3s;
    text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    z-index: 2;
}
@media screen and (min-width:400px) and (max-width:1200px){
    .option2-button {
        font-family: "DotGothic16", Arial, sans-serif; 
        position:absolute;
        right: 420px;
        bottom: 20%;
        padding: 0;
        margin: 10px;
        width: 120px; 
        height: 40px;
        font-size: 24px; 
        color: #94838c;
        background-color: transparent; 
        border: none; 
        cursor: pointer;
        overflow: hidden; 
        transition: color 0.3s;
        text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        z-index: 2;
    }
}
@media screen and (min-width: 3000px), print {
    .option2-button {
        font-family: "DotGothic16", Arial, sans-serif; 
        position:absolute;
        right: 820px;
        bottom: 140px;
        padding: 0;
        margin: 10px;
        width: 120px;
        height: 40px;
        font-size: 22px;
        color: #94838c;
        background-color: transparent; 
        border: none; 
        cursor: pointer;
        transition: color 0.3s;
        text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        z-index: 2;
    }  
}
.option-button::before,
.option-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s; 
}


.option-button:hover::before,
.option-button:hover::after {
    transform: scale(0); 
}

.option-button:hover {
    color: white; 
}
.option2-button::before,
.option2-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s; 
}


.option2-button:hover::before,
.option2-button:hover::after {
    transform: scale(0); 
}

.option2-button:hover {
    color: white; 
}


.scene7 .choose-investigation {
    text-align: center;
    font-size: 24px;
}

.scene7 .investigation-option {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.scene7 .investigation-option img {
    display: block;
    margin: 0 auto;
    width: 400px; 
    height: auto;
}

.scene7 .investigation-option p {
    margin-top: 10px;
    font-size: 24px;
    font-family: 'DotGothic16', sans-serif;
}



.scene7 .investigation-option:hover {
    box-shadow: 0 0 15px rgba(238, 238, 201, 0.8); 
    transform: scale(1.05); 
}


/* 資料畫面 */
.center-container {
    display: grid;
    place-items: center;
    height: 100vh; 
  }
.window {
    width: 1200px;
    height: 670px;
    background: #e4c4d1;
    border: 1px solid #888287;
    font-size: 14px;
    overflow: auto;
    position: relative;
    /* position: absolute;
    top: 60px;
    right: 100px; */
  }
.scene8 .window{
    height: 400px;
  }
.scene60 .window{
    height: 400px;
  }
.scene9 .window{
    height: 300px;
  }
.scene61 .window{
    height: 300px;
  }
 
.scene9 .window-container p{
    margin-top: 50px;
}
.scene61 .window-container p{
    margin-top: 50px;
  }
.scene11 .window-container p{
    top:20%;
}
.scene63 .window-container p{
    top:20%;
}
.scene12 .window-container h3{
    padding-left: 30px;
    padding-right: 560px;
    background-color:#946b77;
    color: rgb(255, 234, 234);
    font-size: 22px;
    position: absolute;
    left: 5%;
    font-weight: lighter;
}
.scene63_1_1 .window-container h3{
    padding-left: 30px;
    padding-right: 560px;
    background-color:#946b77;
    color: rgb(255, 234, 234);
    font-size: 22px;
    position: absolute;
    left: 5%;
    font-weight: lighter;
}
.window-container .text-scene-ref.custom-class {
    position: absolute;
    top: 90%;
    left: 2%;
    font-size: 12px;
    color: #999999;
}
.scene12 .t1{
    position: absolute;
    top :4%;
}
.scene63_1_1 .t1{
    position: absolute;
    top :4%;
}
.scene12 .t1-1{
    position: absolute;
    top :10%;
}
.scene63_1_1 .t1-1{
    position: absolute;
    top :10%;
}
.scene12 .t2{
    position: absolute;
    top :19%;
}
.scene63_1_1 .t2{
    position: absolute;
    top :19%;
}
.scene12 .t2-1{
    position: absolute;
    top :25%;
}
.scene63_1_1 .t2-1{
    position: absolute;
    top :25%;
}
.scene12 .t3{
    position: absolute;
    top :40%;
}
.scene63_1_1 .t3{
    position: absolute;
    top :40%;
}
.scene12 .t3-1{
    position: absolute;
    top :47%;
}
.scene63_1_1 .t3-1{
    position: absolute;
    top :47%;
}
.scene12 .t4{
    position: absolute;
    top :68%;
}
.scene63_1_1 .t4{
    position: absolute;
    top :68%;
}
.scene63_1_1 .t4-1{
    position: absolute;
    top :73%;
}
.scene12 .t4-1{
    position: absolute;
    top :73%;
}

.titlebar {
    font-family: monospace;
    font-size: 21px;
    font-weight: 450;
    background-color: #d3b6c7;
    border: 1px solid #585056;
    width: 100%;
    text-align: right;
}
.window-top {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.window-circle {
    padding: 0 4px;
}
.window-circle2 {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 5px;
}
.red {
    background-color: #ff605c;
  }
  
.yellow {
    background-color: #cfcbc3;
}
  
.green {
    background-color: #00ca4e;
}
.window-container {
    text-align: center;
    height: 100%;
    font-family:"DotGothic16",Arial, sans-serif;
}

.window-container h1 {
    position:absolute;
    font-size: 17px;
    margin-bottom: 5px;
    top: -9px;
    left: 7%;
    color: #524747;
}
.window-container h2 {
    position:absolute;
    top: 5%;
    font-size: 34px;
    color: #ff69b4; 
    margin-bottom: 1em;
    left: 3%;
}
.window-container  p {
    position:absolute;
    top: 27%;
    left: 3%;
    font-size: 22px;
    color: #333333;
    line-height: 1.6;
    text-align: left;
    
}
.scene31 .window-container  p {
    position:absolute;
    top: 20%;
    left: 3%;
    font-size: 22px;
    color: #333333;
    line-height: 1.6;
    text-align: left;
    
}
.scene66 .window-container  p {
    position:absolute;
    top: 20%;
    left: 3%;
    font-size: 22px;
    color: #333333;
    line-height: 1.6;
    text-align: left;
    
}
.info-title{
    font-weight: bolder;
}
.window-container img{
    position: absolute;
    right: 7%;
    top: 27%;
    width: 500px;
}

.scene28 .window-container img{
    position: absolute;
    right: 3%;
    top: 10%;
    width: 450px;
}
.scene65 .window-container img{
    position: absolute;
    right: 3%;
    top: 10%;
    width: 450px;
}

.window .tell-button{
    bottom:15px;
    right: 30px;
}

.text-scene {
    /* position: relative; */
    margin: 0;
    padding: 0;
    font-family:"DotGothic16",Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;

}
.point{
    color: #751530;
    font-size: 28px;
    font-weight: bolder;
}
.text-scene h1 {
    position:absolute;
    font-size: 20px;
    margin-bottom: 5px;
    top: 11.5%;
    left: 25%;
    color: #524747;
}

.text-scene h2 {
    position:absolute;
    top: 35%;
    font-size: 36px;
    color: #ff69b4;
    margin-bottom: 1em;
    left: 30%;
}

.text-scene p {
    position:absolute;
    top: 45%;
    left: 30%;
    font-size: 24px;
    color: #333333;
    line-height: 1.6;
    text-align: left;
    
}

.text-scene-ref.custom-class {
    position: absolute;
    top: 80%;
    left: 20%;
    font-size: 12px;
    color: #999999;
}


.text-scene10 {
    margin: 0;
    padding: 0;
    font-family:"DotGothic16",Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;

}

.text-scene10 h1 {
    position:absolute;
    font-size: 20px;
    margin-bottom: 5px;
    top: 11.5%;
    left: 25%;
    color: #524747;
}

.text-scene10 h2 {
    position:absolute;
    top: 23%;
    font-size: 26px;
    color: #ff69b4;
    margin-bottom: 1em;
    left: 20%;
}

.text-scene10 p {
    position:absolute;
    top: 30%;
    left: 20%;
    font-size: 22px;
    color: #333333;
    line-height: 1.6;
    text-align: left;
    
}
.text-scene10 img{
    position: absolute;
    width: 380px;
    top: 39%;
    left: 50%;
}
@media screen and (min-width:400px) and (max-width:1200px){
    .text-scene10 img{
        position: absolute;
        width: 300px;
        top: 45%;
        left: 63%;
    }
}


.text-scene11 {
    /* position: relative; */
    margin: 0;
    padding: 0;
    font-family:"DotGothic16",Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;

}

.text-scene11 h1 {
    position:absolute;
    font-size: 20px;
    margin-bottom: 5px;
    top: 11.5%;
    left: 25%;
    color: #524747;
}

.text-scene11 h2 {
    position:absolute;
    top: 22%;
    font-size: 36px;
    color: #ff69b4; 
    margin-bottom: 1em;
    left: 20%;
}

.text-scene11 p {
    position:absolute;
    top: 37%;
    left: 20%;
    font-size: 22px;
    color: #333333;
    line-height: 1.6;
    text-align: left;
    
}

.loading-text h2 {
    position: relative;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.loading-text h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f00; 
    animation: wave 2s infinite linear;
}

@keyframes wave {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

/* .text-scene12 {
    margin: 0;
    padding: 0;
    font-family:"DotGothic16",Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;

} */

.text-scene12 h1 {
    position:absolute;
    font-size: 20px;
    margin-bottom: 5px;
    top: 11.5%;
    left: 25%;
    color: #524747;
}
.text-scene12 .tell-button{
    bottom:80px;
}

.text-scene12 h3{
    background-color:#e4bac8;
    font-size: 22px;

}
@media screen and (min-width:400px) and (max-width:1200px){
    .text-scene12 h3{
        background-color:#e4bac8;
        font-size: 18px;
    
    }
}

.text-scene12 p{
    font-size: 18px;

}
@media screen and (min-width:400px) and (max-width:1200px){
    .text-scene12 p{
        font-size: 16px;
    
    }
}
/* 聊天室背景 */



.chat-msg {
    background-color: #ffc7d4;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: absolute;
    left: 20%;
    top:32%;
    max-width: 80%;
    word-wrap: break-word;
    display: none; /* 初始隱藏訊息 */


}
.chat-msg2 {
    background-color: #ffc7d4;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: absolute;
    left: 20%;
    top:40%;
    max-width: 80%;
    word-wrap: break-word;
    display: none; /* 初始隱藏訊息 */


}

.chat-msg.show, .chat-msg2.show {
    opacity: 1;
}

.chat-msg::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #ffc7d4;
    border-right: 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 10px;
}

.chat-msg p {
    margin: 0;
    font-size: 24px;
    font-family:"DotGothic16",Arial, sans-serif;
}
.chat-msg u {
    margin: 0;
    font-size: 24px;
    font-family:"DotGothic16",Arial, sans-serif;
}
.chat-msg2::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #ffc7d4;
    border-right: 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 10px;
}

.chat-msg2 p {
    margin: 0;
    font-size: 24px;
    font-family:"DotGothic16",Arial, sans-serif;
}
.chat-msg2 u {
    margin: 0;
    color: blue;
    font-size: 24px;
    font-family:"DotGothic16",Arial, sans-serif;
}
.chat-re  {
    margin: 0;
    font-size: 24px;
    position: absolute;
    left: 22%;
    bottom: 17%;
    font-family:"DotGothic16",Arial, sans-serif;
    overflow: hidden; 
    white-space: nowrap; 
    display: none; 
    animation: typing 3s steps(40) forwards; 
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@media screen and (min-width: 3000px), print {
    .chat-re  {
        margin: 0;
        font-size: 24px;
        position: absolute;
        left: 22%;
        bottom: 10%;
        font-family:"DotGothic16",Arial, sans-serif;
        overflow: hidden; 
        white-space: nowrap; 
        display: none;
        animation: typing 3s steps(40) forwards; 
    }    
}

.chat-button {
    position: absolute;
    right: 5%;
    bottom: 17%;
    background: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family:"DotGothic16",Arial, sans-serif;
    font-size: 48px;
    cursor: pointer;
    animation: blink-animation 1.5s steps(5, start) infinite;
    margin-top: 10px;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@media screen and (min-width: 3000px), print {
    .chat-button {
        position: absolute;
        right: 5%;
        bottom: 55px;
        background: transparent;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        font-family:"DotGothic16",Arial, sans-serif;
        font-size: 72px;
        cursor: pointer;
        animation: blink-animation 1.5s steps(5, start) infinite;
        margin-top: 10px;
    }
}

.chat-button:hover {
    color: #9e7689;
}

@keyframes flash {
    0% { opacity: 0.7; }
    50% { opacity: 0.05; }
    100% { opacity: 1; }
}


.text-scene28 {
    /* position: relative; */
    margin: 0;
    padding: 0;
    font-family:"DotGothic16",Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;

}

.text-scene28 h1 {
    position:absolute;
    font-size: 20px;
    margin-bottom: 5px;
    top: 11.5%;
    left: 27%;
    color: #524747;
}

.text-scene28 h2 {
    position:absolute;
    top: 23%;
    font-size: 28px;
    color: #ff69b4; 
    margin-bottom: 1em;
    left: 20%;
}


.text-scene28 p {
    position:absolute;
    top: 31%;
    left: 20%;
    font-size: 24px;
    color: #333333;
    line-height: 1.6;
    text-align: left;
    
}
@media screen and (min-width:400px) and (max-width:1200px){
    .text-scene28 p {
        position:absolute;
        top: 31%;
        left: 20%;
        font-size: 18px;
        color: #333333;
        line-height: 1.6;
        text-align: left;
        
    }
}
.text-scene28 img{
    position: absolute;
    width: 380px;
    top: 23%;
    left: 56%;
}
@media screen and (min-width:400px) and (max-width:1200px){
    .text-scene28 img{
        position: absolute;
        width: 440px;
        top: 23%;
        left: 52%;
    }
}

.text-scene31 {
    /* position: relative; */
    margin: 0;
    padding: 0;
    font-family:"DotGothic16",Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;

}

.text-scene31 h1 {
    position:absolute;
    font-size: 20px;
    margin-bottom: 5px;
    top: 11.5%;
    left: 25%;
    color: #524747;
}

.text-scene31 h2 {
    position:absolute;
    top: 23%;
    font-size: 28px;
    color: #ff69b4; 
    margin-bottom: 1em;
    left: 20%;
}

.text-scene31 p {
    position:absolute;
    top: 30%;
    left: 20%;
    font-size: 24px;
    color: #333333;
    line-height: 1.6;
    text-align: left;
    
}
@media screen and (min-width:400px) and (max-width:1200px){
    .text-scene31 p {
        position:absolute;
        top: 30%;
        left: 20%;
        font-size: 20px;
        color: #333333;
        line-height: 1.6;
        text-align: left;
        
    }
}

/* 發文 */
.post  {
    margin: 0;
    font-size: 24px;
    position: absolute;
    left: 35%;
    top: 26%;
    font-family:"DotGothic16",Arial, sans-serif;
    overflow: hidden; 
    white-space: nowrap; 
    display: none; 
    animation: typing 3s steps(40) forwards; 
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@media screen and (min-width:400px) and (max-width:1200px){
    .post  {
        margin: 0;
        font-size: 24px;
        position: absolute;
        left: 35%;
        top: 25%;
        font-family:"DotGothic16",Arial, sans-serif;
        overflow: hidden; 
        white-space: nowrap; 
        display: none;
        animation: typing 3s steps(40) forwards; 
    }
}
@media screen and (min-width: 3000px),print {
    .post  {
        margin: 0;
        font-size: 24px;
        position: absolute;
        left: 35%;
        top: 19%;
        font-family:"DotGothic16",Arial, sans-serif;
        overflow: hidden; 
        white-space: nowrap; 
        display: none;
        animation: typing 3s steps(40) forwards;
    }   
}
.post2 {
    margin: 0;
    font-size: 24px;
    position: absolute;
    left: 35%;
    top: 29%;
    font-family:"DotGothic16",Arial, sans-serif;
    overflow: hidden; 
    white-space: nowrap; 
    display: none; 
    animation: typing 3s steps(40) forwards; 
}
@media screen and (min-width: 3000px),print {
    .post2 {
        margin: 0;
        font-size: 24px;
        position: absolute;
        left: 35%;
        top: 24%;
        font-family:"DotGothic16",Arial, sans-serif;
        overflow: hidden; 
        white-space: nowrap; 
        display: none; 
        animation: typing 3s steps(40) forwards; 
    }  
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.post-button {
    position: absolute;
    background-color: #751530; 
    left: 70%;
    top:50%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    animation: blink-animation 1.5s steps(5, start) infinite; 
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@media screen and (min-width:400px) and (max-width:1200px){
    .post-button {
        position: absolute;
        background-color: #751530; 
        left: 68%;
        top:50%;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        animation: blink-animation 1.5s steps(5, start) infinite;
    }
}

.post-button:hover {
    opacity: 0.4; 
}

.com1{
    margin: 0;
    font-size: 24px;
    position: absolute;
    left: 33%;
    top: 2%;
    color: #94838c;
    font-family:"DotGothic16",Arial, sans-serif;
}
@media screen and (min-width: 3000px),print {
    .com1{
        display: none;
    }  
}
.com2 h3{
    margin: 0;
    padding: 0;
    font-size: 18px;
    position: absolute;
    left: 35%;
    top: 26%;
    font-family:"DotGothic16",Arial, sans-serif;
}
@media screen and (min-width: 3000px),print {
    .com2 h3{
        margin: 0;
        padding: 0;
        font-size: 18px;
        position: absolute;
        left: 35%;
        top: 20%;
        font-family:"DotGothic16",Arial, sans-serif;
    }  
}
.com2 p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    position: absolute;
    left: 33%;
    top: 30%;
    font-family: "DotGothic16", Arial, sans-serif;
    background-color: #eee5e5;
    border-radius: 1em;
    box-shadow: #e0dddd;
}
.com2  :hover{
    background-color: #e0dddd;
}
@media screen and (min-width:400px) and (max-width:1200px){
    .com2 p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        position: absolute;
        left: 35%;
        top: 30%;
        font-family: "DotGothic16", Arial, sans-serif;
        background-color: #e0dddd;
        border-radius: 1em;
        box-shadow: #e0dddd;
    }
    
}
@media screen and (min-width: 3000px),print {
    .com2 p {
        margin: 0;
        padding: 0;
        font-size: 18px;
        position: absolute;
        left: 35%;
        top: 23%;
        font-family: "DotGothic16", Arial, sans-serif;
        background-color: #e0dddd;
        border-radius: 1em;
        box-shadow: #e0dddd;
    }  
}

.com2 a {
    color: #751530; 
    text-decoration: none; 
}

.com2 a:hover {
    color: #9e7689; 
}

.com3 p {
    margin: 0;
    font-size: 24px;
    position: absolute;
    left: 35%;
    top: 50%;
    color: #94838c;
}
.com4 p {
    margin: 0;
    font-size: 24px;
    position: absolute;
    left: 35%;
    top: 68%;
    color: #94838c;

}
@media screen and (min-width: 3000px),print {
    .com4 p {
        margin: 0;
        font-size: 24px;
        position: absolute;
        left: 35%;
        top: 75%;
        color: #94838c;

    }
}
.com5 p {
    margin: 0;
    font-size: 24px;
    position: absolute;
    left: 35%;
    top: 88%;
    color: #94838c;
}
@media screen and (min-width: 3000px),print {
    .com5 p {
        display: none;
    }
}
.comment-button {
    font-family: "DotGothic16", Arial, sans-serif; 
    position:absolute;
    right: 350px;
    bottom: 450px;
    padding: 0;
    margin: 10px;
    width: 120px; 
    height: 40px;
    font-size: 24px; 
    color: #f3e3ec;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    overflow: hidden; 
    transition: color 0.3s;
    text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    z-index: 2;
    animation: blink-animation 1.5s steps(5, start) infinite; /* 閃爍效果 */

}
@media screen and (min-width:400px) and (max-width:1200px){
    .comment-button {
        font-family: "DotGothic16", Arial, sans-serif; 
        position:absolute;
        right: 200px;
        bottom: 350px;
        padding: 0;
        margin: 10px;
        width: 120px; 
        height: 40px;
        font-size: 24px; 
        color: #f3e3ec;
        background-color: transparent; 
        border: none; 
        cursor: pointer;
        overflow: hidden; 
        transition: color 0.3s;
        text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        z-index: 2;
        animation: blink-animation 1.5s steps(5, start) infinite; 
    
    }
}
@media screen and (min-width: 3000px),print {
    .comment-button {
        font-family: "DotGothic16", Arial, sans-serif; 
        position:absolute;
        right: 450px;
        bottom: 450px;
        padding: 0;
        margin: 10px;
        width: 120px; 
        height: 40px;
        font-size: 35px; 
        color: #f3e3ec;
        background-color: transparent; 
        border: none; 
        cursor: pointer;
        overflow: hidden; 
        transition: color 0.3s;
        text-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        z-index: 2;
        animation: blink-animation 1.5s steps(5, start) infinite; 
    
    }
}


.comment-button::before,
.comment-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s; 
}


.comment-button:hover::before,
.comment-button:hover::after {
    transform: scale(0); 
}

.comment-button:hover {
    color: white; 
}

/* 展示資料卡 */
.card-head{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 600px;
    padding-bottom: 620px;
    border-radius: 5px;
    background-color: #c191a7;
    color: white;
    margin: 10px;
    font-family: "Dela Gothic One", sans-serif;

}
.card-container {
    background-clip: padding-box;
    background-image: linear-gradient(-45deg, #dbcbde 25%, transparent 25%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.flip-card {
    background-color: transparent;
    width: 330px;
    height: 220px;
    perspective: 1000px;
    font-family: "Monomaniac One", sans-serif;
  }
  
  .card-title {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    color: #c191a7;
    text-shadow:
    -1px -1px 0 #fff,
    1px 1px 0 #827070,
    2px 2px 0 #a17979,
    3px 3px 0 #a17979;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(123, 46, 68);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background-image: url(Cardbg2.png);
    background-position: center; 
    background-size: cover; 
    background-color: #e1d5d8;
  }
  
  .flip-card-back {
    background-color: #e1d5d8;
    transform: rotateY(180deg);
  }
  .flip-card-back p{
    padding: 2px;
    margin: 2px;
    font-weight: bolder;
    background-color: #b3939a;
    color: #efebeb;
  }
.card-button {
    font-family: "DotGothic16", Arial, sans-serif;
    color: white;
    padding: 2px;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    background-color: #c191a7;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .card-button:hover {
    background-color: #986f84;
    transform: scale(1.1);
  }
  
  .card-button span {
    color: white;
    font-size: 18px;
    font-family: "DotGothic16", Arial, sans-serif;
  }
  

.scene46 {
    font-family: "Microsoft JhengHei", sans-serif;
    text-align: center;
    padding-top: 20px;
    background-color: #efe5ea;
}
.scene46 h2{
    text-align: center; 
    margin-bottom: 20px;
    color: white;
    animation: glow 1.5s infinite alternate;
}

.end-button-container {
    animation: glow 1.5s infinite alternate, shake 0.5s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 40px;
    position: relative;
    z-index: 1;
}

.end-button {
    font-family: "DotGothic16", Arial, sans-serif;
    background-color: #734e52;
    border: none;
    opacity: 0.7;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 14px 12px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 按鈕放大特效 */
.end-button:hover {
    box-shadow: 0 0 20px rgba(201, 122, 122, 0.838);
    transform: scale(1.1);
    transition-duration: 0.4s;
}

/* 按鈕按下去的特效 */
.end-button:active {
    transform: translateY(2px);
}

.scene46 h2 {
    font-family:  Arial, sans-serif;
    position: absolute;;
    font-family: "Microsoft JhengHei", sans-serif;
    font-size: 48px;
    text-align: center;
    top: 30%;
}
.gif-container {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 0;
    top:10px;
    right: 35%;
    position: absolute;

}

.gif-container img {
    width: 720px;
    max-width: 100%;
}

.scene70 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}


.ref-title {
    background-color: #b39ab8;
    padding-left: 600px;
    padding-right: 600px;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Cute Font', cursive;
}

.reference-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-top: 5px;
}

.reference {
    padding: 5px;
    margin: 3px 0;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.reference a {
    text-decoration: underline;
    color: #751530;
    font-size: 18px;
    font-family: "DotGothic16", Arial, sans-serif;
    display: block;
    height: 4px;
}


.reference a:active {
    transform: translateY(2px);
}
.ref-button {
    font-family: "DotGothic16", Arial, sans-serif;
    color: white;
    position: absolute;
    padding: 2px;
    bottom: 170px;
    right: 7%;
    font-size: 26px;
    background-color: #c191a7;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  @media screen and (min-width:400px) and (max-width:1200px){
    .ref-button {
        font-family: "DotGothic16", Arial, sans-serif;
        color: white;
        position: absolute;
        padding: 2px;
        bottom: 1%;
        right: 48%;
        font-size: 26px;
        background-color: #c191a7;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
      } 
}
  
  .ref-button:hover {
    background-color: #986f84;
    transform: scale(1.1);
  }
  
  .ref-button span {
    color: white;
    font-size: 18px;
    font-family: "DotGothic16", Arial, sans-serif;
  }

  .scene80 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#e1cdd6;
    font-family: 'Cute Font', cursive;
    text-align: center;
    padding: 20px;
}

.auth-title {
    font-family: "Noto Serif TC", serif;
    position: absolute;
    top: 5%;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-container {
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.about-text p {
    font-family: "Noto Serif TC", serif;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
}
.about-text p:last-child {
    font-family: monospace;
}

.heart {
    position: fixed;
    color: rgb(173, 38, 61);
    font-size: 36px;
    pointer-events: none; /* 讓愛心不影響滑鼠事件 */
    z-index: 9999; /* 確保愛心在最上層 */
    animation: float 3s infinite; /* 浮動動畫，持續3秒，無限循環 */
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

/* 多增加的資料畫面 */

.text-scene13_1 h1 {
    font-family: "Mochiy Pop One", sans-serif;
    text-align: center;
    font-size: 64px;
    color: #deb0c7;
    margin-bottom: 20px;
    padding: 10px;
    letter-spacing: 2px;
    text-shadow:
        -1px -1px 0 #fff,
        1px 1px 0 #a17979,
        2px 2px 0 #a17979,
        3px 3px 0 #a17979,
        4px 4px 0 #a17979;  
    font-weight: bold;
    letter-spacing: 2px;
}
.text-scene13_1 p{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
}
.text-scene13_1{
    width: 1080px;
}



.text-scene13_3 h1 {
    font-family: "Mochiy Pop One", sans-serif;
    grid-column: 1 / -1;
    font-size: 36px;
    color: #deb0c7;
    margin-top: 60px;
    margin-left: 30px;
    width: 350px;
    margin-bottom: 20px;
    padding: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow:
        -1px -1px 0 #fff,
        1px 1px 0 #a17979,
        2px 2px 0 #a17979,
        3px 3px 0 #a17979,
        4px 4px 0 #a17979;  
}
.text-scene13_1 .highlight{
    font-size: 28px;
    font-weight: bold; 
    color: white;
    background-color: rgba(169, 102, 136, 0.638);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, color 0.3s, transform 0.3s; 
    margin-bottom: 10px; 
}
.highlight:hover {
    background-color: #c6b3b9; 
    color: #fff; 
    transform: scale(1.05);
}

.text-scene13_1 .tell-button,.text-scene13_3 .tell-button{
    bottom: 7%;
}

.scene13_3 {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    width: auto;
    width: 100%;
}
.scene63_3 {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    width: auto;
    width: 100%;
}

.text-scene13_3 {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    font-weight: bold;
    max-width: 1500px; 
    width: 100%;
    height: auto;

}

.text-scene13_3 h1 {
    width: 30%;
    font-size: 32px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.left-side{
    margin-right: 10px;
    border: 2px dashed rgb(98, 87, 87);
    border-radius: 10px; 
    padding: 20px;  
}

.left-side, .center-side, .right-side {
    display: flex;
  
    display: inline-block;
    vertical-align: top;
    /* margin: 0 10px; */
    max-width: 33%;
    /* width: 390px; */
    font-size: 20px;
}

.left-side .highlight, .right-side .highlight ,.center-side .highlight{
    background-color: rgba(255, 153, 204, 0.3);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
}

.left-side .highlight.alt, .right-side .highlight.alt , .center-side .highlight.alt{
    background-color: rgba(204, 204, 255, 0.3);
    font-weight: bold;
}

@keyframes slideInRightZoom {
    0% {
        transform: translateX(100%) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

.scene-slide-in {
    animation: slideInRightZoom 1s ease-in-out;
    overflow: hidden;

}
